@import '//fonts.googleapis.com/css?family=Quattrocento+Sans|Gravitas+One';
@import '//file.myfontastic.com/ZaFwNCeg8fYbraeqqP46nE/icons.css';
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font: 18px/1.6 'Quattrocento Sans', sans-serif;
}
h1,
h3 {
  text-align: center;
  /*font-family: 'Gravitas One', cursive;*/
  font-family: 'Special Elite', cursive;
  margin: 0;
}
[class*='ico-'] {
  font-family: todo;
  font-size: 1.4rem;
  line-height: 1;
}
.todo {
  width: 80%;
  margin: auto;
  padding: 30px;
}
.todo_item {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  position: relative;
  align-items: flex-start;
}
.todo_item > a {
  text-decoration: none;
  color: #000;
  text-align: center;
  position: relative;
  top: .25em;
}
.todo_task,
.todo_new {
  width: 100%;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}
.todo_new {
  margin-right: 33px;
}

.todo_new ~ span {
  position: absolute;
  width: 100%;
  left: 33px;
  color: #ccc;
  z-index: -1;
  display: none;
}

.todo_new:empty ~ span {
  display: block;
}


/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}
/*Calender*/
