@import '//fonts.googleapis.com/css?family=Quattrocento+Sans|Gravitas+One';
@import '//file.myfontastic.com/ZaFwNCeg8fYbraeqqP46nE/icons.css';
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font: 18px/1.6 'Quattrocento Sans', sans-serif;
}
h1,
h3 {
  text-align: center;
  /*font-family: 'Gravitas One', cursive;*/
  font-family: 'Special Elite', cursive;
  margin: 0;
}
[class*='ico-'] {
  font-family: todo;
  font-size: 1.4rem;
  line-height: 1;
}
.todo {
  width: 80%;
  margin: auto;
  padding: 30px;
}
.todo_item {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  position: relative;
  align-items: flex-start;
}
.todo_item > a {
  text-decoration: none;
  color: #000;
  text-align: center;
  position: relative;
  top: .25em;
}
.todo_task,
.todo_new {
  width: 100%;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}
.todo_new {
  margin-right: 33px;
}

.todo_new ~ span {
  position: absolute;
  width: 100%;
  left: 33px;
  color: #ccc;
  z-index: -1;
  display: none;
}

.todo_new:empty ~ span {
  display: block;
}


/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}
/*Calender*/
/* not required */
*,:active{
  outline: none;
}
*{
  padding: 0px;
  margin: 0px;
}

body{
  margin: 20px;
  background-color: #EEEDE9;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 96.5%;
  font-family: Helvetica, Arial, sans-serif;
}

input{
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
  margin-bottom: 10px;
}

p{
  line-height: 20px;
}

a{
  text-decoration: none;
  color: #FF462B;
}

.clearfix{
  clear: both;
}

.animate{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* required */
.calendar{
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  width: 800px;
  height: 450px;
  left: 50%;
  margin-left: -400px;
  margin-top: -225px;
  top: 50%;
  background-color: #ffffff;
  color: #333333;
}

.calendar h1, .calendar h2{
  font-weight: 300;
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.calendar h1 span{
  display: block;
}

.calendar .col{
  position: relative;
  float: left;
  height: 100%;
}

.calendar .col .content{
  padding: 40px;
}

.calendar ul{
  margin: 0px;
}

.calendar ul li{
  list-style: none;
}

.calendar .leftCol{
  width: 40%;
  background-color: #F48989;
}

.calendar .noteList li{
  color: #ffffff;
  margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
  font-weight: 300;
  font-size: 14px;
}

.calendar .notes p{
  border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes input{
  background-color: #F48989;
  color: #ffffff;
  border: none;
  width: 200px;
}

.calendar .addNote,
.calendar .removeNote{
  float: right;
  color: rgba(255,255,255,0.4);
  font-weight: bold;
  margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
  color: #ffffff;
}

.calendar .addNote{
  font-size: 16px;
}

.calendar .leftCol h1{
  color: #ffffff;
  margin-bottom: 40px;
}

.calendar .rightCol{
  width: 60%;
}

.calendar .rightCol h2{
  color: #C7BEBE;
  text-align: right;
  margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
  float: left;
  text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
  display: block;
  color: #747978;
}

.calendar .months li a{
  font-size: 10px;
  color: #C7BEBE;
  text-align: center;
  width: 32px;
  margin-bottom: 20px;
}

.calendar .months li .selected{
  font-weight: bold;
  color: #747978;
}

.calendar .weekday li a{
  width: 55px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.calendar .days li{
  width: 55px;
}

.calendar .days li a{
  width: 36px;
  height: 24px;
  text-align: center;
  margin: auto auto;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  margin-bottom: 10px;
  padding-top: 10px;
}


.calendar .days li a:hover{
  background-color: #EEEDE9;
}

.calendar .days li .selected{
  background-color: #F5A1A3!important;
  color: #ffffff;
}

.calendar .days li .event{
  color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }